.filterContainer{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.filterContainer label{
    color: #fff;
    font-weight: 600;
}
.filterContainer select{
    font: inherit;
    padding: 0.5rem 3rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}